@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
  color: white; }

body {
  font-family: 'Montserrat';
  background-color: #22afd6;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  grid-template-areas: 'header' 'main' 'bottom'; }

button {
  max-width: 80%;
  min-width: 40%;
  display: inline;
  height: auto;
  align-content: center;
  border-radius: 5px;
  display: block;
  margin: auto;
  background-color: #dc5884;
  border: none; }

#index.invisible {
  display: none; }

#index {
  display: block; }

#amount {
  display: none; }

#size {
  display: none; }

#timere {
  display: none; }

#clock {
  display: none; }

#amount.visible {
  display: block; }

#size.visible {
  display: block; }

#timere.visible {
  display: block; }

#clock.visible {
  display: block; }

#time1 {
  display: none; }

#time2 {
  display: none; }

#time3 {
  display: none; }

#time4 {
  display: none; }

#time5 {
  display: none; }

#time6 {
  display: none; }

#time1.visible {
  display: block; }

#time2.visible {
  display: block; }

#time3.visible {
  display: block; }

#time4.visible {
  display: block; }

#time5.visible {
  display: block; }

#time6.visible {
  display: block; }

.backgroundbody {
  height: 100vh; }

.amount-page {
  height: 100vh; }

.size-page {
  height: 100vh; }

.grid-3r {
  height: 100vh; }

.clock_page {
  height: 100vh; }
