@import 'global';
/* Fonts start */

.cooking-time {
    margin-top: 20px;
    font-size: 25px;
}

button {
    max-width: 80%;
    min-width: 50%;
    height: 50px;
    align-content: center;
    border-radius: 5px;
    display: block;
    margin: auto;
    background-color: $second-color;
    border: none;
}

.flex-timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-section {
    width: 40%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.flex-p {
    margin-bottom: 10px;
}

.flex-section img {
    width: 100%;
}


@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
      border-radius: 10px;
  }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
      border-radius: 20px;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: absolute;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: $second-color;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
    margin-top: 5px;
    border-radius: 10px;
}
.option-input:hover {
  background: $second-color;
}
.option-input:checked {
  background: $second-color;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: $second-color;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}


.flex-buttons {
    display: flex;
    flex-direction: row;

}

/* 404 start */

#tryagain {
    border: 2px solid black;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 55px;
}

/* 404 end */

/* popup*/

#modal2{
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: 25%;
    z-index: 10;
    width: 80%;
    height: 66vh;
    background-color: lightgrey;
    border-radius: 15px;

}

#modal2 {
    .pop-tekst {
        font-size: 20px;
    }
}

#modal2.visible {
    display: block;
}
#modal3{
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: 25%;
    z-index: 10;
    width: 80%;
    height: 66vh;
    background-color: lightgrey;
    border-radius: 15px;

}

#modal3 {
    .pop-tekst {
        margin-top: 10%;
        font-size: 40px;
    }
}

#modal3.visible {
    display: block;
}

.scroll-box {
    text-align: center;
    height: 380px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border: none;
    font: 25px/26px Georgia, Garamond, Serif;
    overflow: auto;
}
.scroll-box{
    table{
        font-size: 25px;
        text-decoration: underline;
   margin-left: 35%;
    }
}

.tp-button{
    margin-top: -15.8%;
}




