#dropdown {
	position: absolute;
	z-index: 10;
	display: block;
	height: auto;
	width: 80%;
	background-image: url('images/dropdown-bg.jpg');
	background-repeat: repeat;
	position: relative;
	top: 0px;
	-webkit-transition: top 0.6s ease-out;
	-moz-transition: top 0.6s ease-out;
    -o-transition: top 0.6s ease-out;
    transition: top 0.6s ease-out;
    z-index: 10;
}
.hide{
	display: none;
}
ul {
	list-style-type: none;
	position: absolute;
	z-index: 5;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	width: 100%;
}
li {
	display: block;
	float: left;
	width: 111px;
	margin: 10px 0px 0px 10px;
}
li a {
	display: block;
	width: 100%;
	height: auto;
	background-image: url('images/btn.png');
	background-position: 0px 56px;
	color: transparent;
	font-size: 24px;
	line-height: 54px;
	font-weight: normal;
	margin-top: 80%;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
}

#menu-btn {
	display: block;
	width: 100%;
	height: 36px;
	background-image: url('images/menu-btn.png');
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	cursor: pointer;
	z-index: 13;
}
	#menu-btn span {
		visibility: hidden;
	}

.menuItem {
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top: 0px;
}

.menuItem2{
	margin-left: 55%;
}
	li a:hover {
			background-position: 0px 116px;
	}
	li a:active {
			background-position: 0px 0px;
	}

#timer {
	display: block;
	width: 100%;
	height: 127px;
	font-size: 128px;
	color: #3d3d3d;
	text-align: center;
}
	#timer span {
		height: 143px;
		position: relative;
		top: -10px;
	}
	span#separator {
		top: -20px;
	}

	
	#inputNav {
	position: absolute;
	z-index: 14;
	top: 150px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	outline: 0px solid #ccc;
	background-color: #101b3c;
     -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
        height: 185px
}
#inputNav div {
	display: block;
	position: absolute;
	width: 30px;
	height: 70px;
	font-size: 60px;
	top: 15px;
	left: 140px;
	  color: #f24e7d;
}
input {
	font-size: 80px;
	width: 100px;
	text-align: center;
	background-color: transparent;
	border: none;
	color: #3d3d3d;
	cursor: pointer;
	margin-left: 10px;
}
input:hover {
	color: #f24e7d;	
}
.arrow {
	font-size: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
}
.arrow:focus, input:focus {
	outline: none;
}
.arrow:hover {
	color: #3d3d3d;
}
#minsDown {
	top: 60px;
left: -1em;
	font-size: 50px;
/*	background-color: red;
*/	height: 30px;
	line-height: 20px;
	vertical-align: top;
	padding-bottom: 5px;
	z-index: 5;
	font-size: 24px;
      color: #f24e7d;
}
#minsUp {
	height: 30px;
	line-height: 30px;
/*	background-color: green;
*/	top: 20px;
	left: 0px;
	z-index: 10;
	font-size: 24px;
      color: #f24e7d;
    left: -1em;
    
    
}
#secsDown {
	left: 216px;
	font-size: 50px;
/*	background-color: red;
*/	height: 30px;
	line-height: 20px;
	vertical-align: top;
	padding-bottom: 5px;
	z-index: 5;
	font-size: 24px;
    color: #f24e7d;
    top: 60px;
}
#secsUp {
	height: 30px;
	line-height: 30px;
/*	background-color: green;
*/	top: 20px;
	left: 228px;
	z-index: 10;
	font-size: 24px;
    color: #f24e7d;
    left: 216px;
}
#inputMins {
	
    padding-top: 0.15em;
       color: white;
}
    
    
    

#inputOK {
	font-size: 30px;
	height: 70px;
	font-weight: bold;
	top: 11px;
	color: #ffffff;
    left: 216px;
  
}
#inputOK:hover {
    padding-top: 2em;
	
}

input {
    color: white;
}    
    
button#inputOK {
    margin-top: 1em;    
}

#timesup {
	display: none;
	width: 90%;
	height: 75vh;
	background-color: #101c3c;
	z-index: 20;
	position:fixed;
	left:5%;
	top:3%;
	text-align: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.arrowbutton
{
    width:12%;
     transform: rotate(180deg);

    
}
.arrowtop {
   
    width:12%;
    margin-top:4.5%;
    margin-bottom: -8%
}


.inputnumber {
    border: none;
    border-radius: 20%;
    position: fixed;
   top: 44%;
    left: 34%;
   
}























